/* General */
* {
    box-sizing: border-box;
}

body {
    background-color: #1b1b32;
    color: #f5f6f7;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar */
#navbar header {
    text-align: center;
    padding: 20px 0;
    font-size: 1.8rem;
    font-weight: bold;
}

#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    display: block;
    border-right: 3px solid #d0d0d5;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 88%;
}

#navbar li {
    position: relative;
    width: 100%;
    border-top: 1px solid #d0d0d5;
}

#navbar a {
    padding: 10px 30px;
    display: block;
    color: #f5f6f7;
    text-decoration: none;
}

/* Main body  */
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding-left: 30px;
}

.main-section header {
    font-size: 1.8rem;
    font-weight: bold;
}

.main-section p {
    padding-left: 20px;
}





@media (max-width: 768px) {
    
}